<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.1.xsd
			http://www.springframework.org/schema/util
			http://www.springframework.org/schema/util/spring-util-3.1.xsd">

	<!-- TODO NEW MODULE : Change archetypes with module's code and delete this comment -->
	<context:property-placeholder location="file:///${user.home}/sis/common.properties, file:///${user.home}/sis/aga/aga.properties" />

	<!-- Used by batches -->
	<!-- TODO NEW MODULE : Change archetypes with module's code and delete this comment -->
	<util:properties id="batchProperties" location="file:///${user.home}/sis/aga/aga.properties" />
</beans>
