<html><body><div><p   style="font-weight:bold;text-align:center">Ce message est envoyé automatiquement, merci de ne pas y répondre.</p>Bonjour<br/>
<br/>Vous trouverez ci-joint le reporting mensuel des bris de covenants risque.<br/><br/><span style="text-decoration:underline">Tâches à réaliser :</span><br/>
 1/  Mettre  en forme le fichier Excel (cf. procédure ci-dessous).<br/>
 2/ S’assurer de la cohérence des informations restituées.<br/>
 3/ Si besoin, apporter des modifications dans cet état. Attention : toute modification doit être reportée en parallèle dans iSIS.<br/>
 4/ Adresser, au plus tard dans les 5 jours ouvrés, ce reporting à RISQ/DET avec copie au DCA. Si votre PSC  a  plusieurs DR  dans son périmètre,
il convient de dupliquer le fichier et de ne retenir dans chaque fichier que les DEC rattachées à la DR en question.<br/><br/>
<span style="text-decoration:underline">Procédure à suivre  :</span><br/>
 1/  Enregistrez  les  fichiers joints sur votre disque. <br/>
 2/ Ouvrez le fichier "mise en forme.xls". <br/>
 3/ Dans la fenêtre demandant le mot de passe, cliquez sur "lecture seule" <br/>
 4/ Cliquez sur le bouton "Appliquer  la  mise  en  forme.  <br/>
 5/ Sélectionnez le fichier "reporting.csv" et cliquez sur "Ouvrir". <br/>
 6/ Enregistrer sur votre disque le fichier en modifiant l’extension (dans "Type de fichier", choisir "Classeur Microsoft Excel(*.xls)".<br/>
 7/ Vérifiez la mise en page (format paysage, ajustement).<br/><br/>

Cordialement</div></body></html>

